{
  "extends": ["eslint:all", "plugin:react/recommended", "airbnb", "prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "classes": true,
      "jsx": true,
      "spread": true,
      "experimentalObjectRestSpread": true,
      "restParams": true
    }
  },
  "globals": {
    "APP_SETTINGS": true,
    "console": true,
    "document": true,
    "fetch": true,
    "Promise": true,
    "window": true
  },
  "rules": {
    "array-callback-return": 0,
    "capitalized-comments": 0,
    "class-methods-use-this": 0,
    "consistent-return": 1,
    "dot-location": 0,
    "eol-last": 0,
    "global-require": 1,
    "import/extensions": 0,
    "import/first": 1,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 1,
    "jsx-a11y/no-static-element-interactions": 0,
    "linebreak-style": 0,
    "max-len": 0,
    "no-console": 0,
    "no-param-reassign": 1,
    "no-restricted-syntax": 1,
    "no-unused-vars": 1,
    "padded-blocks": 0,
    "quote-props": [1, "as-needed"],
    "react/jsx-filename-extension": 0,
    "react/jsx-indent": [1, 2],
    "react/jsx-no-duplicate-props": 1,
    "react/no-array-index-key": 1,
    "react/prefer-stateless-function": 1,
    "react/forbid-prop-types": [1, {
      "forbid": ["any"]
    }],
    "react/no-unused-prop-types": [1, {
      "skipShapeProps": true
    }],
    "quotes": [1, "single", {
      "avoidEscape": true,
      "allowTemplateLiterals": true
    }]
  },
  "plugins": ["react", "prettier"]
}
